# 제어문

## 조건문(if문)
1. `if` 문은 반드시 일정한 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다. (`if <조건식>:`)

2-1. `<조건식>`이 참인 경우 `:` 이후의 문장을 실행한다.
   
2-2. `<조건식>`이 거짓인 경우 : `else:`이후의 문장을 실행한다

In [4]:
my_string = input()

if my_string == '12/25':
    print('It is christmas')
else: 
    print('It is not Christmas')

 12/25

It is christmas

In [16]:
num = input('숫자를 입력해주세요')
print(num)
print(type(num))
num = int(num)

숫자를 입력해주세요 -32

-32
<class 'str'>

In [17]:
# 조건문을 사용해서 num에 들어있는 숫자가 홀수 / 짝수 인지 판별

if (num % 2) == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

짝수입니다.

In [19]:
# num을 2로 나눈 나머지는 0,1 두가지 경우가 있따.
# if문의 조건식에 0, 1은 자동 형변환이 일어나 False, True로 변환된다.

if num % 2:
    print('홀수입니다.')
else: 
    print('짝수입니다.')

짝수입니다.

### elif

```
if <조건식>:
    if 조건식이 참인 경우 실행
elif <조건식>:
    elif 조건이 참인 경우 실행
```
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행

In [35]:
score = int(input())

 99

In [37]:
#90점 이상 A
#80점 이상 B
#70점 이상 C
#나머지 F

if score >= 95:
    print('A', '참 잘했어요')
elif score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

A 참 잘했어요

In [38]:
if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

A
참잘했어요

## 조건표현식
    true_value if <조건식> else false_value

    > 가능하면 if문을 쓰는게 좋고, 남이 쓴 조건표현식을 읽을 수 있는 수준정도 숙지

In [39]:
print('True') if 1 < 0 else print('False')

False

In [40]:
# 위의 조건표현식을 if문으로 표현
if 1 < 0:
    print('True')
else:
    print('False')

False

In [41]:
num = -5
value = num if num >= 0 else 0
print(value)

0

In [43]:
# 위의 조건표현식을 if문으로 표현
num = -5
if num >= 0:
    print(num)
else:
    print(0)

0

In [44]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'

print(result)

짝수

In [45]:
num = 2

'홀수' if num % 2 == 1 else '짝수'

'짝수'

In [46]:
### 나중에 여기 입력값으로 바꾸는 거 실습해보기

In [3]:
num = input()
num = int(num)

if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'

print(result)

 33

홀수

## 반복문

### while문

```
while <조건식>:
    실행할 코드(조건식이 참인 경우 실행, 참인 경우 계속 실행)

In [5]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

In [15]:
# 사용자가 '안녕'이라는 말을 할 때 까지 계속 입력을 요청받는 코드

a = ''

while a != '안녕':
    a = input('안녕이라고 해줘 : ')

안녕이라고 해줘 :  ss
안녕이라고 해줘 :  sdas
안녕이라고 해줘 :  faef
안녕이라고 해줘 :  안ㄴㅇ
안녕이라고 해줘 :  안녕

### for문

- while은 특정 조건(100개 만들 때 까지)이 있을 때 반복하는 것이고, for문은 정해진 범위 내의 반복(10시까지..)

```
for variable in sequence(리스트, 튜플, 레인지, ...):
    code
```

In [16]:
numbers  = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [21]:
# for문을 사용해서, 사용자가 입력한 데이터를 한글자씩 출력하는 코드

a = input('입력'

for a in a:
    print(a)

입력 ㅇㄴㄻ나얼

ㅇ
ㄴ
ㄻ
나
얼

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [30]:
# 1-30까지 숫자중에서 홀수만 담긴 리스트를 출력

# 1-30 중 홀수만 프린트 후에 

a = range(31)
result = []
for a in range(31):
    if a % 2 == 1:
        # print(a)
        result.append(a)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [33]:
menus = ['라면', '치킨', '짜장면']

for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '치킨')
(2, '짜장면')

In [35]:
enumerate(menus)

In [36]:
for menu in enumerate(menus):
    print(menu[0])
    print(menu[1])

0
라면
1
치킨
2
짜장면

In [38]:
for idx, menu in enumerate(menus):
    print(idx)
    print(menu)

0
라면
1
치킨
2
짜장면

### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value

In [39]:
info = {
    'name': 'yoohwa',
    'surname': 'jin',
    'location': 'Yeoju'
}

In [42]:
for i in info:
    print(i)
    print(info[i])

name
yoohwa
surname
jin
location
Yeoju

In [43]:
blood_type = {}:

    'A': 5,

SyntaxError: invalid syntax (881176155.py, line 1)

In [46]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.

NameError: name 'blood_type' is not defined

In [49]:
result = 0


for value in blood_type.values():
    result = result + value

print(f'총 인원은 {result}명 입니다.')

NameError: name 'blood_type' is not defined

In [51]:
for key, value in blood_type.items():
    print(key, value)
    print(f'[key]형은 [value]명입니다.')

NameError: name 'blood_type' is not defined

In [ ]:
blood_type.items()

### break
- 반복문을 종료시키는 키워드

In [54]:
for i in range(100):
    
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (333677209.py, line 3)

In [56]:
rice = ['보리', '보리', '보리','쌀', '보리','보리',]
# 보리 보리 보리 쌀 잡았다 -> X 

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

### continue
- continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [61]:
for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [63]:
age = [10, 35, 20, 18, 9, 40]

for a in age:
    if a < 20:
        continue
    print('성인입니다')

성인입니다
성인입니다
성인입니다

### else
> else문은 끝까지 반복이 진행된 후 실행됩니다.

In [65]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
break 못만남

In [66]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5

In [68]:
#
numbers = [1, 3, 5, 7, 9]
print(3 in numbers)
print(2 in numbers)

True
False

In [75]:
numbers = [1, 3, 5, 7, 9]

target = 0

for number in numbers:
    # if문을 통해 내가 원하는 숫자가 있으면 True
    if number == target:
        print('True')
        break
else: print('False')

False

### pass

In [77]:
if True:
    pass
    # 아무 의미 없는 코드인데, 이 곳에 무언가 들어갈 예정일 때, 혹은 구조를 만들거나 클래스를 만들 때 사용

### match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [80]:
status = 404


match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('Something is wrong')

Not found