# 함수(function)

In [1]:
height = 10
width = 20

height2 = 50
width2 = 80
# 직사각형의 둘레는 **, 면적은 **입니다.

area = height * width
perimeter = (height + width) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

area = height2 * width2
perimeter = (height2 + width2) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

직사각형의 둘레는 60, 면적은 200입니다.
직사각형의 둘레는 260, 면적은 4000입니다.

## 함수의 선언과 호출

```python
def func_name(parameter1, parameter2...):
    code1
    code2
    ...
    return value

- 함수의 호출(실행)

func_name(parameter1, parameter2)

In [3]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

In [4]:
rectangle(33,20)

직사각형의 둘레는 106, 면적은 660입니다.

In [10]:
max(1,5)

5

In [17]:
# 두개의 정수를 받아서 큰 수를 출력
def my_max(a, b):
    if a > b:
        print(a)
    elif a < b:
        print(b)
    else:
        print('The numbers are same')

In [20]:
result = my_max(6,5)
print(result)

6
None

## 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없다면 None을 자동으로 반환
- return은 오직 하나의 객체만 반환합니다.

In [22]:
# 두개의 정수를 받아서 큰 수를 반환
def my_max2(a, b):
    if a > b:
        return a
    elif a < b:
        return b
    else:
        print('The numbers are same')

In [23]:
result = my_max2(1, 2)
print(f'{result}가 더 큽니다.')

2가 더 큽니다.

In [25]:
def my_list_max(list_a, list_b):
    if sum(list_a) > sum(list_b):
        return list_a
    else:
        return list_b

In [26]:
my_list_max({10,11}, {11,12})

{11, 12}

## 함수의 인수

### 위치 인수
> 기본적으로 함수는 인수의 위치로 판단합니다.

In [3]:
def cylinder(r, h):
    return 3.14 * r**2 * h

print(cylinder(10, 5))
print(cylinder(5, 10))

1570.0
785.0

### 기본값
```
def func(p1=v1):
    return v1
```

In [6]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

print(greeting('유화'))
print(greeting())

## 함수의 값을 넣으면 그 값을, 함수에 아무 값도 넣지 않았을 때는 기본값을 출력

유화님 반갑습니다.
익명님 반갑습니다.

In [7]:
def greeting(name='익명', age):
    return f'(name)님은 (age)입니다.'

SyntaxError: non-default argument follows default argument (2710899941.py, line 1)

In [9]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

print(greeting(10, '홍길동'))
print(greeting(10))

홍길동님은 10살입니다.
익명님은 10살입니다.

### 키워드 인자
- 함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정 인자를 전달 가능

In [10]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

print(greeting(10, '홍길동'))
print(greeting(name='홍길동', age=10))

홍길동님은 10살입니다.
홍길동님은 10살입니다.

In [13]:
print('안녕')
print('안녕', '하세요', sep='!', end='?')

안녕
안녕!하세요?

### 가변 인자 리스트
``` python
    def func(*params):
        pass
```

몇개가 들어올지 모르는 것을 튜플로

In [15]:
def my_print(*words):
    print(words)
    print(type(words))

my_print('hi', 'hello', '안녕', '하세요')

('hi', 'hello', '안녕', '하세요')
<class 'tuple'>

In [25]:
def my_max(*nums):
    result = 0

    for num in nums:
        if result < num:
            result = num

    return result

In [22]:
my_max(1, 2, 3, 4, 5)

5

In [26]:
my_max(-1, -2)

0

In [27]:
def my_max(*nums):
    result = nums[0]

    for num in nums:
        if result < num:
            result = num

    return result

my_max(-1, -2)

-1

### 정의되지 않은 키워드 인자 처리하기

``` python
def func(**kwangs):
    pass
```
몇개의 데이터가 들어올지 모르는 딕셔너리가 들어오는 느낌

In [28]:
info = {
    'name': 'hong',
    'age': 20,
}
print(info)

{'name': 'hong', 'age': 20}

In [29]:
info = dict(name='hong', age=20, asdf=1234)
print(info)

{'name': 'hong', 'age': 20, 'asdf': 1234}

In [34]:
def fake_dict(**kwargs):
    print(kwargs)
    print(type(kwargs))

fake_dict(korean = '안녕', english = 'hello')

{'korean': '안녕', 'english': 'hello'}
<class 'dict'>

### 딕셔너리를 인자로 넣기(unpacking)

In [33]:
def sign_up(username, password, password_confirmation):
    if password == password_confirmation:
        print(f'{username}님 회원가입이 완료되었습니다.')
    else:
        print(f'비밀번호가 일치하지 않습니다.')

sign_up('aa', '1234', '1234')

aa님 회원가입이 완료되었습니다.

### lambda 표현식

``` python
     lambda parameter: expression
```

In [35]:
(lambda a, b: a + b)(1, 2)

3

In [36]:
def my_sum(a, b):
    return a + b

my_sum(1,2)

3

### 타입 힌트

In [37]:
def my_sum(num1: int, num2: int) -> int:
    return num1 + num2

my_sum(1, 2)
my_sum('1', 2)

TypeError: can only concatenate str (not "int") to str

### 이름공간 (scope)

- 파이썬에서 사양되는 이름들은 이름공간(namespace)에 저장되어있습니다.

우선순위(LEGB)
- L local scope : 정의된 함수 내부
- E enclosed scope : 상위 함수
- G glocal scope : 함수 밖의 변수 혹은 import된 모듈
- B Built-in scope : 파이썬이 기본저긍로 가지고 있는 함수 혹은 변수

In [39]:
str = '123'

In [40]:
print(str)

123

In [44]:
str(789)

'789'

In [42]:
del str

In [43]:
a = 1
def localscope(a):
    print(a)

localscope(5)

# 밖에서 설정한 변수보다 local 안에 있는게 더 가깝기 때문에 5를 반환

5

### 재귀 (recursive)
- 재귀함수는 함수 내부에서 자기 자신을 호출하는 함수를 의미한다.
- 재귀는 꼭 끝나는 구간을 설정해줘야함
- https://img1.daumcdn.net/thumb/R750x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbFhCpd%2FbtrRY34V3iX%2F8RI6gAOCuqpBiguu74u2rK%2Fimg.jpg

In [49]:
# 팩토리얼(1부터 n까지의 곱을 구하기)
def fact(n):
    result = 1
    
    while n > 1:
        result = result * n
        # result *= n
        n = n - 1
        # n -= 1

    return result

fact(5)

120

In [51]:
# 1! = 1
# 2! = 1 * 2 = 2
# 3! = 1 * 2 * 3 = 2! * 3

In [52]:
def factorial(n):
    if n<= 1:
        pass
    else:
        return factorial(n-1) * n
        # 10! = 9! * 10 =

### 피보나치 수열
``` python
    F(0) = F(1) = 1
    F(n) = F(n-1) + F(n-2)
```
- [1, 1, 2, 3, 5, 8, 13 ...]

In [62]:
# 반복문
def fib_loop(n):
    result : [1, 1]
    
    for i in range(1, n):
        end1 = result[-1] # 리스트의 뒤에서 1번째 숫자
        end2 = result[len(result)-2] # result의 길이를 알려줌, =result[-2]
        fib_num = end1 + end2

        result.append(fib_num)

    return result [-1]

fib_loop(5)

UnboundLocalError: cannot access local variable 'result' where it is not associated with a value

In [57]:
# 재귀
def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-1) + fib_rec(n-2)

fib_rec(13)

377

In [58]:
a = [1, 2, 3, 4, 5]
a[1]

# a라는 리스트에서 인덱스 1은 2

2